
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    height: 100%;
}

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    padding: 0;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 0;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#loc-btn-outer {

    background-color: #fff;
    border: 2px solid #808080;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.75rem;
  }
  
  #loc-btn-inner {
  
    background-color: black;
    width: 1.2rem;
    height: 1.2rem;
    margin: 20%;
    border-radius: 50%;
    display: inline-block;
  }

  #clear-btn-outer {

    background-color: #fff;
    border: 2px solid #808080;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    width: 4.3rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 5%;
  }

  #clear-btn-inner {

    display: inline-block;
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 38px;
  }

  #walk-cycle-btn-outer {

    display: flex;
    margin-top: 20%;
  }

  #walk-cycle-btn-select {

    height: 30px;
    width: 70px;
    display: block;
  }

  #cyc-layer-btn-outer {

    background-color: #fff;
    border: 2px solid #808080;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    width: 4.3rem;
    /* margin: 0px 0px 0px 100px; to push it to the right-hand side of the containing div (NOTE: needs a defined width as well!) */
    height: 2.2rem;
    text-align: center;
    border-radius: 5%;
  }

  #cyc-layer-btn-inner {

    display: inline-block;
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 38px;
  }

  
  .map-style-btn-outer {

    background-color: #fff;
    border: 2px solid #808080;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    width: 4.3rem;
    /* margin: 0px 0px 0px 100px; to push them to the right-hand side of the containing div (NOTE: needs a defined width as well!) */
    height: 2.2rem;
    text-align: center;
    border-radius: 5%;
  }

  .map-style-btn-inner {

    display: inline-block;
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 38px;
  }

  #info-header-outer {

    background-color: rgba(0,0,0,0);
    background-image: radial-gradient(closest-side at 50% 50%, #2B7CFF, #2B7CFF, rgba(0,0,0,0));
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #info-header-p-dist {

    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-transform: none;
  }

  #info-header-p-dura {

    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-transform: none;
  }

  #info-header-p-divisor {

    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 20px;
    line-height: 38px;
    text-transform: none;
  }

  #menu {

    padding: 8px;
    background-color: #2B7CFF;
    border-radius: 4px;
    text-align: center;
    align-items: center;
  }

  #menu-btn-outer {

    background-color: #fff;
    border: 2px solid #808080;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    width: 4.3rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 5%;
  }

  #menu-btn-inner {

    display: inline-block;
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 26px;
    line-height: 38px;
  }

  #speed-chooser-holder-div {

    margin-top: 20%;
    width: 100px;
  }

  #speed-chooser-display-p {

    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 13px;
    margin: 5px;
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
  }